
.board {
  display: flex;
  flex-direction: column-reverse;
  gap: 2px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: white;
}

.cell.selected {
  background-color: blue;
}

.cell-input {
  width: 14px;
  background: inherit;
}
