
.board {
  display: flex;
  flex-direction: column-reverse;
  gap: 2px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: white;
}

.cell.selected {
  background-color: blue;
}
.cell.selecting {
  background-color: blue;
  transition: all 1s ease-in;
}

.cell-input {
  background: inherit;
  user-select: none;
}

